.modal-container {
  --background-gray: var(--gray-3);
}

.modal-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  position: absolute;
  border-radius: var(--border-radius);
  padding: 1rem;
  min-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--background-gray);
  animation: slideInFromBottom 100ms forwards;
}

.black {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  animation: fadeIn 50ms forwards;
}

@keyframes slideInFromBottom {
  from {
    top: 70%;
  }
  to {
    top: 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
